<h2>Inicio</h2>

<div class="cont">

    <a href="/">
        <h2 class="link">Inicio</h2>
    </a>
    <a href="/Holi">
         <h2 class="link">Holi</h2>
    </a>
    <a href="/Otro">
         <h2 class="link">Otro</h2>
    </a>

</div>